%h1 Listing comments

%table
  %tr
    %th Commentary
  - @comments.each do |comment|
    %tr
      %td= h comment.commentary
        
      %td= link_to 'Show', object_url(comment)
      %td= link_to 'Edit', edit_object_url(comment)
      %td= link_to 'Destroy', object_url(comment), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New comment', new_object_url