- form_for @user, :url => users_path, :html => { :class => 'formBox register' } do |f|
  = f.error_messages
  %fieldset
    .form
      %h2 Sign Up
      = render :partial => "form", :locals => { :f => f }
    .text
      %h2 Please specify your registration
      = f.text_area :specify, :rows => 5, :cols => 40, :class => 'button'
      = f.submit "Sign Up", :class => 'submit'