.box.submenu
  .h.hidden
    %h3 Submenu
  .in
    %ul
      %li.first= link_to("Find people", users_path)
      %li= link_to "Edit my profile", edit_user_path(current_user)
      %li= link_to("Change password", change_password_user_path(current_user))
      - if_admin? do
        %li= link_to("No approved", noapproved_users_path)
      -#%li= link_to('New registered', recent_users_path)
